.main {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  height: 743px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;
  background: url("./images/bg-bottom.svg") bottom left no-repeat,
    url("./images/bg-top.svg") top right no-repeat;
  background-color: hsl(240, 78%, 98%);
}
.header {
  /* background-color: aqua; */
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  /* background-color: aquamarine; */
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(233, 13%, 49%);
  margin-bottom: 60px;
  gap: 1px;
}

.box {
  background-color: white;
  height: 400px;
  width: 340px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 13px 0;
  border-radius: 3%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 5px;
}

.price {
  color: hsl(232, 13%, 33%);
  font-size: 30px;
  font-weight: bold;
}
.switch {
  color: hsl(234, 14%, 74%);
}

.dollar {
  display: flex;
  align-items: center;
  margin-top: -20px;
}
.dollar > h2 {
  color: hsl(232, 13%, 33%);
}
.line {
  border-top: 1px solid hsl(233, 13%, 49%);
  width: 80%;
  opacity: 40%;
}

.pricehead {
  color: hsl(232, 13%, 33%);
  font-size: 50px;
  font-weight: bold;
}

hr {
  color: rgb(200, 196, 196);
  margin: -4px;
}

button {
  margin-top: 12px;
  border: none;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 70px 12px 70px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 25px;
}
.pbutton {
  background-image: linear-gradient(to right, white, white);
  color: hsl(236, 72%, 79%);
  font-size: 11px;
  font-weight: bold;
}

/* hover for basic */
#basic:hover {
  padding: 25px 0 25px 0;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}
#basic:hover h1 {
  color: white;
}

#basic:hover h2 {
  color: white;
}

#basic:hover > hr {
  border-top: 1px solid white;
  opacity: 40%;
}

#basic:hover > button {
  background-image: linear-gradient(to right, white, white);
  color: hsl(236, 72%, 79%);
}
/* hover for professinoal */
#professional:hover {
  padding: 25px 0 25px 0;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}
#professional:hover h1 {
  color: white;
}

#professional:hover h2 {
  color: white;
}

#professional:hover > hr {
  border-top: 1px solid white;
  opacity: 40%;
}

#professional:hover > button {
  background-image: linear-gradient(to right, white, white);
  color: hsl(236, 72%, 79%);
}

/* hover for master */

#master:hover {
  padding: 25px 0 25px 0;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}
#master:hover h1 {
  color: white;
}
#master:hover h2 {
  color: white;
}
#master:hover > hr {
  border-top: 1px solid white;
  opacity: 40%;
}

#master:hover > button {
  background-image: linear-gradient(to right, white, white);
  color: hsl(236, 72%, 79%);
}

/* switch button */
.switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0 27px 0 27px;
}

.switch {
  position: relative;
  /* display: inline-block; */
  width: 45px;
  height: 25px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    hsl(237, 63%, 64%),
    hsl(234, 15%, 87%)
   
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    hsl(234, 15%, 87%),
    hsl(237, 63%, 64%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* for mobile  */
@media only screen and (max-width: 375px) {
  * {
    width: 300px;
  }
  .main {
    height: 1800px;
  }
  .section {
    flex-direction: column;
    height: 1400px;
    justify-content: space-between;
  }
}
